*.o
*.so
*.dll
*.a
*.lib
*.out
*.mp4
*.swp
*.save

# custom file types .pk (POC python pickle files) and .raw (GPOC binary data files).
*.pk
*.raw

POC/tmp/*
__pycache__*

# Ignore hdf5 data
*.h5
*.mod
stop.msg
# Extra rules in QBox/.gitignore
